body{
    background-color: aquamarine;
}

hr{
    width: 60%;
}

p{
    font-size: 20px;
    font-weight: bolder;
    color: red; 
}

button{
    width:150px;
    height:50px;
}

#img_1{
    margin: 100px;
    width: 400px;
    height:250px;
    padding:-2px;
    border:white 5px solid;
}

#img_2{
    margin: 100px;
    width: 400px;
    height:250px; 
    border:white 5px solid;
}

#img_4{
    margin-right: 500px;
    width: 400px;
    height:250px;
    border:white 5px solid;
}

#img_5{
    margin-top: 200px;
    width: 400px;
    height:250px;
    margin-bottom: 25px;
    border:white 5px solid;
}

#img_3{
    width:400px;
    height:250px;
    border:white 5px solid;
}

#footer{
    position:sticky;
    overflow:hidden;
    bottom:0;
    background-color:blanchedalmond;
}

#resultShow img:hover{
    border-radius: 50px;
    box-shadow: 0 0 50px 2px grey;


}